name: Release

on:
  # Trigger on tag creation.
  push:
    tags:
      - 'v*.*.*'

jobs:
  # GitHub does not support Rust packages, so currently a Rust package won't be
  # published. As an alternative, you can specify dependencies from git repositories.
  # https://doc.rust-lang.org/cargo/reference/specifying-dependencies.html#specifying-dependencies-from-git-repositories

  publish-smart-contracts-package:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          registry-url: 'https://npm.pkg.github.com'
          scope: '@dsr-mantunes'

      - name: Install dependencies
        run: yarn install --frozen-lockfile
        working-directory: smart_contracts

      - name: Compile smart contracts
        run: yarn compile
        working-directory: smart_contracts

      - name: Publish to GitHub Package Registry
        working-directory: smart_contracts
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  create-release:
    runs-on: ubuntu-latest
    steps:
      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
