name: Release

on:
  push:
    tags:
      - 'v*.*.*'  # Triggers on version tags like v1.0.0, v2.1.3, etc.

jobs:
  publish-smart-contracts:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup node
        uses: actions/setup-node@v4
        with:
          node-version: "20.x"
          registry-url: 'https://npm.pkg.github.com'
          scope: '@dsr-mantunes'

      - name: Install dependencies
        run: yarn install --frozen-lockfile
        working-directory: smart_contracts

      - name: Compile smart contracts
        run: yarn compile
        working-directory: smart_contracts

      - name: Publish to GitHub Package Registry
        working-directory: smart_contracts
        run: npm publish
        env:
          YARN_NPM_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}